header {
    background: green;
    padding: 10px;
  }
  nav {
    background: blue;
    padding: 10px;
  }
  article {
    background: darkgreen;
    padding: 10px;
    min-height: 150px;
  }
  aside {
    background: darkgray;
    padding: 10px;
  }
  footer {
    background: black;
    padding: 10px;
  }
  section {
    display: grid;
    grid-columns: 150px 1fr 200px;
    grid-rows: 50px 1fr 50px;
    color: white;
  }
  section header {
    grid-column: 2;
    grid-row: 1;
  }
  section nav {
      grid-column: 1;
      grid-row: 2;
  }
  section article {
      grid-column: 2;
      grid-row: 2;
  }
  section aside {
      grid-column: 3;
      grid-row: 2;
  }
  section footer {
      grid-column: 2;
      grid-row: 3;
  }